.text-title-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  border-top: solid;
  border-bottom: solid;
  border-image: linear-gradient(to left, #5cb8d1, #df5cff, #ff1744);
  border-image-slice: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 0.8em;
  /* transition: height 1s ease; */
  min-height: 33vh;
  /* height:fit-content */
}

.text-container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1.5em; */
  padding: 0 2.5em;
  padding-bottom: 1.5em;
  transition: height 1s ease;
}

.paragrapghs {
  margin-top: 1.5em;
}

.empty-div {
  width: 1vw;
  height: 1vh;
}

.title-9 {
  position: relative;
  top: 18vh;
  padding: 0.3em;
  font-size: 3.5vw;
  font-weight: 600;
}

.title-plus-btn-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid white;
  height: 100%;
}

/* .delay-display-btn {
  display: none;
} */
